<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scal=1.0'>
        <link rel='stylesheet' href='/public/assets/css/burger_style.css'>
        <script src='https://code.jquery.com/jquery.js'></script>
        <script src='/models/burger.js'></script>
        <title>Eat The Burgers!</title>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>